In [2]:
import pandas as pd

df_train = pd.read_table('../../data/train_info_new_id.txt',header=None)
df_train.columns = ['userid', 'docid', 'timestamp', 'network', 'refresh', 'position', 'click', 'duration']
# df_test = pd.read_pickle('../../data/wj/test.pkl')
# doc_info = pd.read_pickle('../../data/wj/doc.pkl')
user_info = pd.read_pickle('../../data/wj/user.pkl')

In [9]:

df_train.head()

   userid   docid      timestamp  network  refresh  position  click  duration
0   27957  167412  1624843756147        5        0        16      0         0
1   27957  211470  1624843756147        5        0        13      1        80
2   27957  106187  1624757147178        5        0        13      0         0
3   27957  181370  1624762446340        5        0        12      1       268
4   27957  181370  1624762446340        5        0        12      1        57

In [3]:
train_userid=df_train['userid'].tolist()
train_userid=list(set(train_userid))
len(train_userid)

959448

In [4]:
df_test = pd.read_pickle('../../data/wj/test.pkl')
test_userid=df_test['userid'].tolist()
test_userid=list(set(test_userid))
len(test_userid)

41859

In [5]:
userid_all=user_info['userid'].tolist()
userid_all=list(set(userid_all))
print(len(userid_all))

1029718

In [6]:
userid_nb=list(set(test_userid).difference(set(train_userid)))
len(userid_nb)

2099

In [26]:
store_list(userid_nb,'../../data/wj/userid_nb.txt')

In [27]:
store_list(train_userid,'../../data/wj/train_userid.txt')

In [2]:
import pandas as pd
def store_list(lsit,text_path):
    ff = open(text_path, encoding='utf-8', mode='w')
    for line_list in lsit:
        ff.write(str(line_list))  # 写入一个新文件中
        ff.write("\n")

In [41]:
def read_list(text_path):
    lsit=[]
    with open('%s' % text_path, 'r', encoding="utf8") as f:  # 打开一个文件只读模式
        line = f.readlines()  # 读取文件中的每一行，放入line列表中
        for line_list in line:
            lsit.append(int(line_list.replace('\n','')))
    return lsit

In [42]:
userid_nb=read_list('../../data/wj/userid_nb.txt')
train_userid=read_list('../../data/wj/train_userid.txt')
user_info = pd.read_pickle('../../data/wj/user.pkl')

In [4]:
import time
import datetime
# 定义日志（data文件夹下，同级目录新建一个data文件夹）
def write_log(w):
    file_name = '../../data/wj/' + datetime.date.today().strftime('%m%d') + "_{}.log".format("data_remaker_userid")
    t0 = datetime.datetime.now().strftime('%H:%M:%S')
    info = "{} : {}".format(t0, w)
    print(info)
    with open(file_name, 'a') as f:
        f.write(info + '\n')

In [5]:
user_info

          userid  device  os  province  city  age  gender
0              1    2642   1       185   291    2       2
1              2     160   0       207   571    0       2
2              3    2644   1       200   340    2       2
3              4    1381   0       244   502    0       2
4              5    1167   0       224   298    2       2
...          ...     ...  ..       ...   ...  ...     ...
1029713  1029714    1812   0       235   428    2       2
1029714  1029715    1368   2       120   184    2       2
1029715  1029716    2357   0       224   455    2       2
1029716  1029717    1368   2       120   184    2       2
1029717  1029718    1368   2       120   184    4       0

[1029718 rows x 7 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.preprocessing import OneHotEncoder
f=0
encll=[]
for i in ['province'  ,'city' , 'age'  ,'gender']:
    encoder = LabelEncoder()  
    ocean = encoder.fit_transform(user_info[i].values)  
    ocean = np.array([ocean]).T
    enc = OneHotEncoder()
    a=enc.fit_transform(ocean)
    a=a.toarray()
    if f==0:
        f=1
        b=a
        print(b.shape)
    else:
        b=np.concatenate((b,a),axis=1)
        print(b.shape)

(1029718, 281)
(1029718, 981)
(1029718, 986)
(1029718, 989)

In [8]:
from tqdm import tqdm
ii=0
close_id_all=[]
for i in tqdm(userid_nb):
    ii+=1
#     print('__________',ii,'/',len(userid_nb),'\t id=',i,'__________')
#     write_log('__________'+str(ii)+'/'+str(len(userid_nb))+'\t id='+str(i)+'__________')
    id_list=[]
    score=[]
#     nb=user_info.loc[user_info['userid']==i].index.item()

    for jj in train_userid:
        id_list.append(jj)
        score.append(np.dot(b[i-1],b[jj-1]))
    
    score_dict = {"userid": id_list, "score": score}
    score_df = pd.DataFrame(score_dict)
    score_df=score_df.sort_values(by='score',ascending=False)
    score_df_userid=score_df['userid'].tolist()
    close_id=[]
    for i in range(20):
        close_id.append(score_df_userid[i])
    close_id_all.append(close_id)

100%|██████████| 2099/2099 [2:24:02<00:00,  4.12s/it]

In [15]:
#开始计算临近值

In [9]:
store_list(close_id_all,'../../data/wj/close_id_all.txt')
print('close_id_all stored')
write_log('close_id_all stored')

close_id_all stored
16:43:54 : close_id_all stored

In [11]:
nb_dict = {"userid": userid_nb, "close_id": close_id_all}
nb_df = pd.DataFrame(nb_dict)
nb_df.to_pickle('../../data/wj/nb_df.pkl')
print('nb.pkl stored')
write_log('nb.pkl stored')

nb.pkl stored
16:54:24 : nb.pkl stored

In [3]:
nb_df = pd.read_pickle('../../data/wj/nb_df.pkl')
nb_df

      userid                                           close_id
0     606210  [5344, 84265, 199794, 35230, 542150, 490152, 2...
1     917510  [708503, 113415, 873164, 35546, 786592, 281492...
2     294924  [575091, 276658, 721308, 658437, 128916, 87224...
3     868371  [939493, 961534, 968259, 1020269, 871654, 9525...
4     622616  [717851, 112944, 858436, 900807, 769961, 48018...
...      ...                                                ...
2094  557037  [360610, 591638, 264673, 758217, 924765, 45481...
2095  950256  [657836, 99951, 502781, 49812, 530527, 49769, ...
2096  647154  [445354, 491579, 262892, 372818, 829017, 24428...
2097  974837  [1021857, 1000769, 640510, 988749, 1000772, 10...
2098  483321  [815305, 382299, 19372, 960370, 221403, 554192...

[2099 rows x 2 columns]

In [ ]:
# len_=81671133
# ii=-1
# for i in range(0,len_,round(len_/10)):
#     ii+=1
#     right=i+round(len_/10)
#     if right>=len_:
#         break
#     print(i,right)
#     df_train_user_doc=pd.read_pickle('../../data/wj/df_train_user_doc_0_1_'+str(i)+'_'+str(right)+'_64.pkl')
#     if ii==0:
#         df_train_user_doc1=df_train_user_doc
#         print(df_train_user_doc1.shape)
#     else:
#         df_train_user_doc1=pd.concat([df_train_user_doc1,df_train_user_doc])
#         print(df_train_user_doc1.shape)

In [5]:
train_info = pd.read_table('../../data/train_info_new_id.txt',header=None)
train_info.columns = ['userid', 'docid', 'timestamp', 'network', 'refresh', 'position', 'click', 'duration']

In [16]:
doc_info = pd.read_pickle('../../data/wj/doc.pkl')
#造userid feature
def feature_maker(biao,s): 
    agg_dict1 = {'click':['mean','count'], 'duration':['mean'], 'picnum':['mean']}
    made = biao.groupby([s]).agg(agg_dict1)
    made=made.reset_index()
    made.columns=[s,s+'_click_mean',s+'_click_count',s+'_duration_mean',s+'_picnum_mean']
    
    for i in made.columns:
        if i==s:
            continue
        
        made[i] = made[[i]].apply(max_min_scaler)
        
    return made
# 归一化函数
max_min_scaler = lambda x: (x - np.min(x)) / (np.max(x) - np.min(x))

In [13]:
train_info_doc=pd.merge(train_info,doc_info,on='docid')
train_info_doc

,userid,docid,timestamp,network,refresh,position,click,duration,picnum,category1st,category2nd,pub_date,keyword0,keyword1,keyword2,keyword3,keyword4
0,27957,167412,1624843756147,5,0,16,0,0,6,13,68,79,631,216512,93296,213086,69124
1,27960,167412,1624891603794,2,6,37,0,0,6,13,68,79,631,216512,93296,213086,69124
2,28001,167412,1624892884920,5,18,54,0,0,6,13,68,79,631,216512,93296,213086,69124
3,28044,167412,1624760481520,2,18,29,1,29,6,13,68,79,631,216512,93296,213086,69124
4,28102,167412,1624860506895,2,2,25,0,0,6,13,68,79,631,216512,93296,213086,69124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81671128,27238,129201,1624703312515,2,39,18,0,0,14,3,28,78,141085,105516,25149,253164,231635
81671129,27444,218429,1624863889013,2,1,15,0,0,9,19,104,81,99828,137277,104069,154739,6003
81671130,27531,151647,1624676915661,2,5,55,0,0,6,2,2,79,47982,15254,89935,164026,59845
81671131,27570,291592,1624957576222,5,12,32,0,0,8,23,116,82,126595,14354,191129,166879,80311
81671132,27746,305047,1624971623310,2,25,55,1,11,3,16,86,82,59100,4226,207357,19355,110516

In [18]:
import numpy as np
userid_f=feature_maker(train_info_doc,'userid')
userid_f

,userid,userid_click_mean,userid_click_count,userid_duration_mean,userid_picnum_mean
0,1,0.345763,0.021665,0.011590,0.104849
1,2,0.333333,0.000147,0.004721,0.072464
2,3,0.000000,0.000000,0.000345,0.026087
3,4,0.444444,0.001253,0.006256,0.126087
4,5,0.256637,0.008254,0.002439,0.062870
...,...,...,...,...,...
959443,1025268,0.250000,0.000221,0.003713,0.058696
959444,1025269,0.000000,0.000074,0.000345,0.065217
959445,1025270,0.000000,0.000000,0.000345,0.113043
959446,1025272,0.000000,0.000221,0.000345,0.076087
959447,1025274,1.000000,0.000074,0.005872,0.052174

In [22]:
userid_click_mean=[]
userid_click_count=[]
userid_duration_mean=[]
userid_picnum_mean=[]

from tqdm import tqdm
for i in tqdm(range(len(nb_df))):
    userid_click_mean2=0
    userid_click_count2=0
    userid_duration_mean2=0
    userid_picnum_mean2=0
    
#     nb_id=nb_df.loc[i]['userid'].item()
    nb_close=nb_df.loc[i]['close_id']
    for tid in nb_close:
        tid_=userid_f.loc[userid_f['userid']==tid]
        
        userid_click_mean2+=tid_['userid_click_mean'].item()
        userid_click_count2+=tid_['userid_click_count'].item()
        userid_duration_mean2+=tid_['userid_duration_mean'].item()
        userid_picnum_mean2+=tid_['userid_picnum_mean'].item()
    
    userid_click_mean.append(userid_click_mean2/20)
    userid_click_count.append(userid_click_count2/20)
    userid_duration_mean.append(userid_duration_mean2/20)
    userid_picnum_mean.append(userid_picnum_mean2/20)

nb_df['userid_click_mean']=userid_click_mean
nb_df['userid_click_count']=userid_click_count
nb_df['userid_duration_mean']=userid_duration_mean
nb_df['userid_picnum_mean']=userid_picnum_mean
nb_df

100%|██████████| 2099/2099 [00:57<00:00, 36.67it/s]

,userid,close_id,userid_click_mean,userid_click_count,userid_duration_mean,userid_picnum_mean
0,606210,"[5344, 84265, 199794, 35230, 542150, 490152, 2...",0.223936,0.008452,0.012493,0.085953
1,917510,"[708503, 113415, 873164, 35546, 786592, 281492...",0.142129,0.003010,0.008994,0.079486
2,294924,"[575091, 276658, 721308, 658437, 128916, 87224...",0.137423,0.003699,0.007345,0.088654
3,868371,"[939493, 961534, 968259, 1020269, 871654, 9525...",0.139806,0.000671,0.007169,0.107008
4,622616,"[717851, 112944, 858436, 900807, 769961, 48018...",0.139025,0.002841,0.006882,0.074118
...,...,...,...,...,...,...
2094,557037,"[360610, 591638, 264673, 758217, 924765, 45481...",0.112825,0.004425,0.005295,0.085523
2095,950256,"[657836, 99951, 502781, 49812, 530527, 49769, ...",0.148193,0.014801,0.007448,0.071044
2096,647154,"[445354, 491579, 262892, 372818, 829017, 24428...",0.141932,0.005269,0.010623,0.078838
2097,974837,"[1021857, 1000769, 640510, 988749, 1000772, 10...",0.158717,0.001102,0.008925,0.061246
2098,483321,"[815305, 382299, 19372, 960370, 221403, 554192...",0.139388,0.008368,0.007744,0.080641

In [23]:
nb_df.to_pickle('../../data/wj/nb_df.pkl')

In [67]:
df_test_user_doc=pd.read_pickle('../../data/wj/df_test_user_doc_64.pkl')

In [68]:
useridff=['userid_click_mean', 'userid_click_count','userid_duration_mean', 'userid_picnum_mean']

In [ ]:
for i in tqdm(range(len(df_test_user_doc))):
    nb_id=df_test_user_doc.loc[i]['userid'].item()
    if nb_id not in userid_nb:
        continue
    
    nb_i=nb_df.loc[nb_df['userid']==nb_id]
    
    for j in useridff:
#         print(df_test_user_doc.loc[i][j])
#         print(nb_i[j].item())
        df_test_user_doc.loc[i,j]=nb_i[j].item()
#         print(df_test_user_doc.loc[i][j])

#     break

In [70]:
df_test_user_doc.to_pickle('../../data/wj/df_test_user_doc_64_new.pkl')

In [72]:
df_test_user_doc=pd.read_pickle('../../data/wj/df_test_user_doc.pkl')

In [ ]:
for i in tqdm(range(len(df_test_user_doc))):
    nb_id=df_test_user_doc.loc[i]['userid'].item()
    if nb_id not in userid_nb:
        continue
    
    nb_i=nb_df.loc[nb_df['userid']==nb_id]
    
    for j in useridff:
#         print(df_test_user_doc.loc[i][j])
#         print(nb_i[j].item())
        df_test_user_doc.loc[i,j]=nb_i[j].item()
#         print(df_test_user_doc.loc[i][j])

#     break

 52%|█████▏    | 26204/50000 [00:08<00:06, 3442.55it/s]

In [ ]:
df_test_user_doc.to_pickle('../../data/wj/df_test_user_doc_new.pkl')