In [2]:
import pandas as pd

df_train = pd.read_pickle('../../data/wj/train.pkl')
df_test = pd.read_pickle('../../data/wj/test.pkl')
doc_info = pd.read_pickle('../../data/wj/doc.pkl')
user_info = pd.read_pickle('../../data/wj/user.pkl')

In [3]:
def calc_log(x):
    return math.log(x+1)

# 归一化函数
max_min_scaler = lambda x: (x - np.min(x)) / (np.max(x) - np.min(x))

In [ ]:
# # 计算用户活跃度
# user_sum_popular = train_info.groupby(by=['userid'])[['click']].sum()
# user_sum_popular = user_sum_popular.rename_axis('userid').reset_index()
# user_sum_popular = user_sum_popular.rename(columns={'click': 'liveliness'})
# user_sum_popular['liveliness'] = user_sum_popular['liveliness'].apply(lambda x: calc_log(x))
# # 归一化
# user_sum_popular['liveliness'] = user_sum_popular[['liveliness']].apply(max_min_scaler)
# user_add_feature = user_sum_popular.copy()

# # 计算用户平均阅读时长
# click_df = train_info[~(train_info['click'] == 0)]
# user_mean_duration = click_df.groupby(by=['userid'])[['duration']].mean()
# user_mean_duration = user_mean_duration.rename_axis('userid').reset_index()
# user_mean_duration = user_mean_duration.rename(columns={'duration': 'mean_duration'})
# # 归一化
# user_mean_duration['mean_duration'] = user_mean_duration[['mean_duration']].apply(max_min_scaler)
# user_add_feature = pd.merge(user_add_feature, user_mean_duration, on='userid', how='left')
# user_add_feature['mean_duration'].fillna(user_mean_duration['mean_duration'].mean(), inplace=True)

# # 计算用户平均的阅读时段
# user_mean_browse_time = train_info.groupby(by=['userid'])[['hour']].mean()
# user_mean_browse_time = user_mean_browse_time.rename_axis('userid').reset_index()
# user_mean_browse_time = user_mean_browse_time.rename(columns={'inter_hour': 'mean_hour'})
# user_add_feature = pd.merge(user_add_feature, user_mean_browse_time, on='userid', how='left')
# user_add_feature['mean_hour'].fillna(0.0, inplace=True)

In [ ]:
# agg_dict1 = {'click':['mean','count'], 'duration':['mean'], 'picnum':['mean']}
# category1st = train_info_doc.groupby(['category1st']).agg(agg_dict1)
# category1st=category1st.reset_index()
# category1st.columns=['category1st','category1st_click_mean','category1st_click_count','category1st_duration_mean','category1st_picnum_mean']
# category1st

In [11]:
#造userid feature
def feature_maker(biao,s): 
    agg_dict1 = {'click':['mean','count'], 'duration':['mean'], 'picnum':['mean']}
    made = biao.groupby([s]).agg(agg_dict1)
    made=made.reset_index()
    made.columns=[s,s+'_click_mean',s+'_click_count',s+'_duration_mean',s+'_picnum_mean']
    
    for i in made.columns:
        if i==s:
            continue
        
        made[i] = made[[i]].apply(max_min_scaler)
        
    return made

In [ ]:
train_info_doc=pd.merge(df_train,doc_info,on='docid')
train_info_doc

In [13]:
import numpy as np

In [14]:
userid_f=feature_maker(train_info_doc,'userid')
userid_f

,userid,userid_click_mean,userid_click_count,userid_duration_mean,userid_picnum_mean
0,1,0.345763,0.021665,0.011590,0.104849
1,2,0.333333,0.000147,0.004721,0.072464
2,3,0.000000,0.000000,0.000345,0.026087
3,4,0.444444,0.001253,0.006256,0.126087
4,5,0.256637,0.008254,0.002439,0.062870
...,...,...,...,...,...
959443,1025268,0.250000,0.000221,0.003713,0.058696
959444,1025269,0.000000,0.000074,0.000345,0.065217
959445,1025270,0.000000,0.000000,0.000345,0.113043
959446,1025272,0.000000,0.000221,0.000345,0.076087
959447,1025274,1.000000,0.000074,0.005872,0.052174

In [15]:
doc_f=feature_maker(train_info_doc,'docid')
doc_f

,docid,docid_click_mean,docid_click_count,docid_duration_mean,docid_picnum_mean
0,1,0.0,0.000037,0.001316,0.000000
1,2,0.0,0.000000,0.001316,0.000000
2,3,0.0,0.000000,0.001316,0.015464
3,4,1.0,0.000000,0.010526,0.015464
4,5,0.0,0.000000,0.001316,0.015464
...,...,...,...,...,...
300554,311841,0.0,0.000000,0.001316,0.041237
300555,311844,0.0,0.000000,0.001316,0.144330
300556,311850,0.0,0.000005,0.001316,0.046392
300557,311859,0.0,0.000000,0.001316,0.030928
300558,311860,0.0,0.000000,0.001316,0.046392

In [16]:
category1st_f=feature_maker(train_info_doc,'category1st')
category1st_f

,category1st,category1st_click_mean,category1st_click_count,category1st_duration_mean,category1st_picnum_mean
0,0,0.569956,0.000398,0.508140,0.000000
1,1,0.618672,0.000394,0.352379,0.166408
2,2,0.893504,0.704982,0.690207,0.331988
3,3,0.699901,0.776518,0.546420,0.229698
4,4,0.860054,0.454321,0.811529,0.350747
5,5,0.620855,0.190434,0.602607,0.312239
6,6,0.590608,0.017802,0.364382,0.790214
7,7,0.721668,0.369959,1.000000,0.455579
8,8,0.735079,0.357016,0.505409,0.146997
9,9,0.821503,0.396107,0.714056,0.310703
10,10,0.765343,0.016251,0.440308,0.247677
11,11,0.692148,0.948486,0.612558,0.618545
12,12,0.554910,0.017099,0.408380,0.629497
13,13,0.789926,1.000000,0.886194,0.276865
14,14,0.628799,0.134980,0.580387,0.358235
15,15,0.842531,0.203748,0.619302,0.537558
16,16,0.697130,0.784802,0.589332,0.424903
17,17,0.672118,0.560040,0.758243,0.270007
18,18,0.722925,0.133664,0.645667,0.456700
19,19,0.692336,0.300918,0.171688,1.000000
20,20,1.000000,0.276761,0.437151,0.133904
21,21,0.775373,0.214434,0.841854,0.371230
22,22,0.598646,0.027162,0.589643,0.437082
23,23,0.622821,0.203376,0.416414,0.424075
24,24,0.659720,0.023321,0.317246,0.402041
25,25,0.772557,0.030271,0.645729,0.253614
26,26,0.770023,0.000206,0.551874,0.319281
27,27,0.630274,0.118400,0.482984,0.613878
28,28,0.554920,0.019851,0.472723,0.755164
29,29,0.669423,0.157989,0.602653,0.579907
30,30,0.615420,0.357792,0.594402,0.364170
31,31,0.760138,0.225777,0.572761,0.331188
32,32,0.605303,0.038733,0.441372,0.554377
33,33,0.549561,0.126660,0.387133,0.488650
34,34,0.664107,0.199889,0.485068,0.341524
35,35,0.909487,0.000074,0.642399,0.518258
36,36,0.714348,0.260163,0.633640,0.294705
37,37,0.422803,0.002557,0.244461,0.587826
38,38,0.000000,0.000000,0.000000,0.562590

In [17]:
category2nd_f=feature_maker(train_info_doc,'category2nd')
category2nd_f

,category2nd,category2nd_click_mean,category2nd_click_count,category2nd_duration_mean,category2nd_picnum_mean
0,0,0.167721,0.000556,0.194728,0.024984
1,1,0.184620,0.000791,0.135111,0.109357
2,2,0.322774,0.207437,0.310185,0.182875
3,3,0.283931,0.149634,0.282036,0.170242
4,4,0.285206,0.070782,0.251055,0.155711
...,...,...,...,...,...
186,189,0.111111,0.000268,0.115286,0.251194
187,190,0.000000,0.000003,0.000000,0.041751
188,191,0.000000,0.000008,0.000000,0.433984
189,192,0.000000,0.000007,0.000000,0.179327
190,193,0.000000,0.000001,0.000000,0.075911

In [18]:
keyword0_f=feature_maker(train_info_doc,'keyword0')
keyword0_f

,keyword0,keyword0_click_mean,keyword0_click_count,keyword0_duration_mean,keyword0_picnum_mean
0,6,0.125000,0.000015,0.002225,0.020619
1,7,0.000000,0.000002,0.001618,0.010309
2,11,0.000000,0.000002,0.001618,0.134021
3,13,0.084076,0.005666,0.037039,0.030928
4,14,0.333333,0.000004,0.014563,0.006873
...,...,...,...,...,...
105793,253743,0.136155,0.011467,0.033110,0.010323
105794,253744,0.000000,0.000000,0.001618,0.015464
105795,253745,0.000000,0.000020,0.001618,0.072165
105796,253749,0.000000,0.000002,0.001618,0.082474
105797,253753,0.128755,0.000510,0.023063,0.041060

In [22]:
s_l=['userid_click_mean','userid_click_count' ,'userid_duration_mean' ,'userid_picnum_mean',
'docid_click_mean','docid_click_count','docid_duration_mean','docid_picnum_mean',
'category1st_click_mean','category1st_click_count','category1st_duration_mean','category1st_picnum_mean',
'category2nd_click_mean','category2nd_click_count','category2nd_duration_mean','category2nd_picnum_mean',
'keyword0_click_mean','keyword0_click_count','keyword0_duration_mean','keyword0_picnum_mean']
from tqdm import tqdm

In [23]:
def fill_(pdd,s):
    mean=pdd[s].mean()
    pdd[s].fillna(mean, inplace=True)
    return pdd

In [ ]:
df_test_user=pd.merge(df_test,user_info,on='userid')
df_test_user_doc=pd.merge(df_test_user,doc_info,on='docid')
print(df_test_user_doc.shape)

df_test_user_doc=pd.merge(df_test_user_doc,userid_f,how='left',on='userid')
print(df_test_user_doc.shape)

df_test_user_doc=pd.merge(df_test_user_doc,doc_f,how='left',on='docid')
print(df_test_user_doc.shape)

df_test_user_doc=pd.merge(df_test_user_doc,category1st_f,how='left',on='category1st')
print(df_test_user_doc.shape)

df_test_user_doc=pd.merge(df_test_user_doc,category2nd_f,how='left',on='category2nd')
print(df_test_user_doc.shape)

df_test_user_doc=pd.merge(df_test_user_doc,keyword0_f,how='left',on='keyword0')
print(df_test_user_doc.shape)

for s in tqdm(s_l):
    df_test_user_doc=fill_(df_test_user_doc,s)
    
print(df_test_user_doc.shape)
print(df_test_user_doc)

df_test_user_doc.sort_values("id",inplace=True)
df_test_user_doc.index = range(len(df_test_user_doc))
del df_test_user_doc['id']

In [25]:
df_test_user_doc

,userid,docid,network,refresh,hour,device,os,province,city,age,...,category1st_duration_mean,category1st_picnum_mean,category2nd_click_mean,category2nd_click_count,category2nd_duration_mean,category2nd_picnum_mean,keyword0_click_mean,keyword0_click_count,keyword0_duration_mean,keyword0_picnum_mean
0,480541,296276,2,4,4.0,1479,0,224,506,2,...,0.612558,0.618545,0.206667,0.985775,0.235107,0.297865,0.129254,0.006387,0.060594,0.113232
1,319162,304285,2,2,12.0,2810,0,216,654,2,...,0.612558,0.618545,0.206667,0.985775,0.235107,0.297865,0.285714,0.000029,0.096856,0.046392
2,343230,323224,2,10,10.0,1224,0,280,560,0,...,0.612558,0.618545,0.194601,0.273077,0.237024,0.403754,0.273488,0.008133,0.054172,0.019354
3,337541,319291,2,10,8.0,980,0,242,360,0,...,0.886194,0.276865,0.228945,1.000000,0.374511,0.164073,0.081395,0.000564,0.010919,0.022537
4,672656,323911,2,11,7.0,1785,0,195,622,3,...,0.811529,0.350747,0.255358,0.506246,0.299647,0.181894,0.215475,0.273472,0.068991,0.039516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,350365,304285,2,1,8.0,1576,0,220,551,0,...,0.612558,0.618545,0.206667,0.985775,0.235107,0.297865,0.285714,0.000029,0.096856,0.046392
49996,437779,281609,2,1,4.0,1602,0,224,510,2,...,0.546420,0.229698,0.200576,0.598127,0.206490,0.132035,0.169790,0.436773,0.040137,0.006791
49997,725109,313091,5,1,6.0,863,0,242,646,3,...,0.589332,0.424903,0.199437,0.043193,0.182756,0.196982,0.129010,0.273279,0.048643,0.027446
49998,4787,255250,2,11,7.0,575,0,200,340,3,...,0.811529,0.350747,0.255358,0.506246,0.299647,0.181894,0.125000,0.000015,0.004248,0.000000
49999,468789,262302,2,3,4.0,1264,0,208,433,3,...,0.886194,0.276865,0.228945,1.000000,0.374511,0.164073,0.155125,0.038436,0.040515,0.036777

In [ ]:
df_train_user=pd.merge(df_train,user_info,on='userid')
df_train_user_doc=pd.merge(df_train_user,doc_info,on='docid')
print(df_train_user_doc.shape)

df_train_user_doc=pd.merge(df_train_user_doc,userid_f,how='left',on='userid')
print(df_train_user_doc.shape)

df_train_user_doc=pd.merge(df_train_user_doc,doc_f,how='left',on='docid')
print(df_train_user_doc.shape)

df_train_user_doc=pd.merge(df_train_user_doc,category1st_f,how='left',on='category1st')
print(df_train_user_doc.shape)

df_train_user_doc=pd.merge(df_train_user_doc,category2nd_f,how='left',on='category2nd')
print(df_train_user_doc.shape)

df_train_user_doc=pd.merge(df_train_user_doc,keyword0_f,how='left',on='keyword0')
print(df_train_user_doc.shape)

for s in tqdm(s_l):
    df_train_user_doc=fill_(df_train_user_doc,s)

print(df_train_user_doc.shape)
df_train_user_doc

(81671133, 23)
(81671133, 27)
(81671133, 31)
(81671133, 35)
(81671133, 39)

In [ ]:
df_train_user_doc.columns

In [ ]:
df_train_user_doc.to_pickle('../../data/wj/df_train_user_doc.pkl')
df_test_user_doc.to_pickle('../../data/wj/df_test_user_doc.pkl')