In [2]:
import pandas as pd
df_train = pd.read_table('../../data/train_info_new_id.txt',header=None)
df_train.columns = ['userid', 'docid', 'timestamp', 'network', 'refresh', 'position', 'click', 'duration']

In [3]:
for i in ['docid', 'timestamp','position']:
    if i in df_train.columns:
        del df_train[i]
df_train.head()

   userid  network  refresh  click  duration
0   27957        5        0      0         0
1   27957        5        0      1        80
2   27957        5        0      0         0
3   27957        5        0      1       268
4   27957        5        0      1        57

In [6]:
user_info = pd.read_pickle('../../data/wj/user.pkl')
user_info.head()

   userid  device  os  province  city  age  gender
0       1    2642   1       185   291    2       2
1       2     160   0       207   571    0       2
2       3    2644   1       200   340    2       2
3       4    1381   0       244   502    0       2
4       5    1167   0       224   298    2       2

In [7]:
train_info_doc=pd.merge(df_train,user_info,on='userid')
train_info_doc

,userid,network,refresh,click,duration,device,os,province,city,age,gender
0,27957,5,0,0,0,446,0,236,349,3,2
1,27957,5,0,1,80,446,0,236,349,3,2
2,27957,5,0,0,0,446,0,236,349,3,2
3,27957,5,0,1,268,446,0,236,349,3,2
4,27957,5,0,1,57,446,0,236,349,3,2
...,...,...,...,...,...,...,...,...,...,...,...
81671128,27949,2,2,0,0,2757,0,236,482,3,2
81671129,27949,2,1,1,5,2757,0,236,482,3,2
81671130,27949,2,2,0,0,2757,0,236,482,3,2
81671131,27949,2,7,0,0,2757,0,236,482,3,2
81671132,27949,2,7,0,0,2757,0,236,482,3,2

In [11]:
train_info_user=train_info_doc

In [18]:
# 归一化函数
import numpy as np
max_min_scaler = lambda x: (x - np.min(x)) / (np.max(x) - np.min(x))
def feature_maker(biao,s): 
    agg_dict1 = {'click':['mean','count'], 'duration':['mean']}
    made = biao.groupby([s]).agg(agg_dict1)
    made=made.reset_index()
    made.columns=[s,s+'_click_mean',s+'_click_count',s+'_duration_mean']
    
    for i in made.columns:
        if i==s:
            continue
        
        made[i] = made[[i]].apply(max_min_scaler)
        
    return made

In [19]:
network_f=feature_maker(train_info_user,'network')
network_f

   network  network_click_mean  network_click_count  network_duration_mean
0        2            1.000000             1.000000               1.000000
1        3            0.000000             0.000000               0.000000
2        4            0.123367             0.005359               0.199420
3        5            0.938247             0.560802               0.930953

In [20]:
refresh_f=feature_maker(train_info_user,'refresh')
refresh_f

     refresh  refresh_click_mean  refresh_click_count  refresh_duration_mean
0          0            1.000000         9.275128e-01               1.000000
1          1            0.772429         1.000000e+00               0.777630
2          2            0.628043         8.755772e-01               0.599850
3          3            0.552126         6.595565e-01               0.506054
4          4            0.494537         5.305222e-01               0.434785
..       ...                 ...                  ...                    ...
640      646            0.000000         1.905686e-07               0.002518
641      647            0.000000         1.905686e-07               0.002518
642      648            0.000000         1.905686e-07               0.002518
643      649            0.000000         1.905686e-07               0.002518
644      650            0.000000         1.905686e-07               0.002518

[645 rows x 4 columns]

In [21]:
device_f=feature_maker(train_info_user,'device')
device_f

      device  device_click_mean  device_click_count  device_duration_mean
0          0           0.000000        4.384140e-07              0.001555
1          1           0.027675        1.185910e-04              0.010958
2          2           0.160377        1.391964e-04              0.019267
3          3           0.138889        1.556370e-05              0.035683
4          4           0.093023        9.206694e-06              0.008644
...      ...                ...                 ...                   ...
2766    2819           0.022202        2.367436e-04              0.006460
2767    2820           0.000000        1.534449e-06              0.001555
2768    2821           0.075047        2.334555e-04              0.020126
2769    2822           0.109091        3.594995e-05              0.042245
2770    2823           0.000000        0.000000e+00              0.001555

[2771 rows x 4 columns]

In [22]:
os_f=feature_maker(train_info_user,'os')
os_f

   os  os_click_mean  os_click_count  os_duration_mean
0   0       1.000000        1.000000          1.000000
1   1       0.986384        0.009266          0.831251
2   2       0.000000        0.000000          0.000000

In [23]:
province_f=feature_maker(train_info_user,'province')
province_f

,province,province_click_mean,province_click_count,province_duration_mean
0,0,0.333333,2.912655e-06,0.199621
1,1,0.072848,1.248281e-05,0.023962
2,2,0.128205,3.162312e-06,0.016625
3,3,0.000000,9.154060e-07,0.000595
4,4,0.068540,1.686844e-04,0.037893
...,...,...,...,...
270,276,0.132038,1.556864e-02,0.058746
271,277,0.145833,3.911280e-06,0.115974
272,278,0.140306,5.839208e-03,0.074627
273,279,0.136364,7.240029e-06,0.042551
274,280,0.146300,1.246230e-01,0.069408

In [24]:
city_f=feature_maker(train_info_user,'city')
city_f

     city  city_click_mean  city_click_count  city_duration_mean
0       0         0.100000      5.846066e-06            0.041510
1       1         0.045455      1.323057e-05            0.006323
2       2         0.000000      3.384564e-06            0.000595
3       3         0.000000      3.076877e-07            0.000595
4       4         0.114650      4.799928e-05            0.060825
..    ...              ...               ...                 ...
681   695         0.140970      3.022508e-02            0.066856
682   696         0.141358      2.790666e-02            0.066500
683   697         0.140776      1.771881e-02            0.066272
684   698         0.140712      4.709344e-02            0.065859
685   699         0.142086      5.586747e-02            0.069119

[686 rows x 4 columns]

In [25]:
age_f=feature_maker(train_info_user,'age')
age_f

   age  age_click_mean  age_click_count  age_duration_mean
0    0        0.793110         0.740016           0.852092
1    1        1.000000         0.242383           0.899599
2    2        0.973272         0.512925           0.768686
3    3        0.984465         1.000000           1.000000
4    4        0.000000         0.000000           0.000000

In [26]:
gender_f=feature_maker(train_info_user,'gender')
gender_f

   gender  gender_click_mean  gender_click_count  gender_duration_mean
0       0            0.00000             0.00000               0.00000
1       1            0.99988             0.32075               1.00000
2       2            1.00000             1.00000               0.86893

In [45]:
def fill_(pdd,s):
    mean=pdd[s].mean()
    pdd[s].fillna(mean, inplace=True)
    return pdd

In [46]:
from tqdm import tqdm

In [47]:
s_l=[]
_f=[]
ff=['network','refresh','device','os','province','city','age','gender']
for i in ff:
    s_l.append(i+'_click_mean')
    s_l.append(i+'_click_count')
    s_l.append(i+'_duration_mean')
    _f.append(i+'_f')
print(_f)
print(s_l)

['network_f', 'refresh_f', 'device_f', 'os_f', 'province_f', 'city_f', 'age_f', 'gender_f']
['network_click_mean', 'network_click_count', 'network_duration_mean', 'refresh_click_mean', 'refresh_click_count', 'refresh_duration_mean', 'device_click_mean', 'device_click_count', 'device_duration_mean', 'os_click_mean', 'os_click_count', 'os_duration_mean', 'province_click_mean', 'province_click_count', 'province_duration_mean', 'city_click_mean', 'city_click_count', 'city_duration_mean', 'age_click_mean', 'age_click_count', 'age_duration_mean', 'gender_click_mean', 'gender_click_count', 'gender_duration_mean']

In [53]:
def maker_add(df):
    print(df.shape)
    for i in range(len(ff)):
        name=ff[i]
        table_name=_f[i]
        df=pd.merge(df,globals()[table_name],how='left',on=name)
        print(df.shape)
    from tqdm import tqdm
    for s in tqdm(s_l):
        df=fill_(df,s)
    return df

In [54]:
import pandas as pd
df_test_user_doc=pd.read_pickle('../../data/wj/df_test_user_doc.pkl')
df_test_user_doc=maker_add(df_test_user_doc)
df_test_user_doc.head()

(50000, 40)
(50000, 43)
(50000, 46)
(50000, 49)
(50000, 52)
(50000, 55)
(50000, 58)
(50000, 61)
(50000, 64)

100%|██████████| 24/24 [00:00<00:00, 1504.73it/s]

,userid,docid,network,refresh,hour,device,os,province,city,age,...,province_duration_mean,city_click_mean,city_click_count,city_duration_mean,age_click_mean,age_click_count,age_duration_mean,gender_click_mean,gender_click_count,gender_duration_mean
0,480541,296276,2,4,4.0,1479,0,224,506,2,...,0.067322,0.130476,0.140501,0.066269,0.973272,0.512925,0.768686,1.00000,1.00000,0.86893
1,319162,304285,2,2,12.0,2810,0,216,654,2,...,0.065026,0.132635,0.048351,0.064371,0.973272,0.512925,0.768686,1.00000,1.00000,0.86893
2,343230,323224,2,10,10.0,1224,0,280,560,0,...,0.069408,0.144378,0.035406,0.070138,0.793110,0.740016,0.852092,0.99988,0.32075,1.00000
3,337541,319291,2,10,8.0,980,0,242,360,0,...,0.074759,0.149390,0.098312,0.078247,0.793110,0.740016,0.852092,1.00000,1.00000,0.86893
4,672656,323911,2,11,7.0,1785,0,195,622,3,...,0.063551,0.129463,0.047937,0.060501,0.984465,1.000000,1.000000,1.00000,1.00000,0.86893

In [55]:
df_test_user_doc.to_pickle('../../data/wj/df_test_user_doc_64.pkl')

In [ ]:
def nbnb(path)
    df_one=pd.read_pickle(path+'.pkl')
    df_one=maker_add(df_one)
    df_one.to_pickle(path+'_64.pkl')

In [ ]:
len_=81671133
ii=-1
for i in range(0,len_,round(len_/10)):
    ii+=1
    right=i+round(len_/10)
    if right>=len_:
        break
    print(i,right)
    path='../../data/wj/df_train_user_doc_0_1_'+str(i)+'_'+str(right)
    nbnb(path)