In [2]:
import pandas as pd
df_train = pd.read_pickle('../data/train.pkl')
df_test = pd.read_pickle('../data/test.pkl')
doc_info = pd.read_pickle('../data/out1/doc_info1.pkl')
user_info = pd.read_pickle('../data/out1/user_info1.pkl')

In [4]:
print(df_train)

              userid      docid      timestamp  network  refresh  position  \
30681910  2409825960  463552562  1624869556203        5       19       207
33387786  1305114184  463843741  1624838347464        5        4        58
66497591  1384753520  462965256  1624656823023        5        4         9
43897603  1793347126  463964144  1624865763852        5        1        20
31382310  2429494146  463966614  1624930276109        5        1        25
...              ...        ...            ...      ...      ...       ...
50139650  1377807890  463472453  1624750686655        5       10        42
68355061  1781149274  463439945  1624778543969        2        2        25
43910863  1801510258  462742027  1624671676147        5        5        12
15709228  2444319116  463173395  1624855979077        2        4        35
38881128  2412452152  463456346  1624864247820        2       64       106

          click  duration                               dt        date
30681910      0         0 2021-06-28 16:39:16.203000+08:00  2021-06-28
33387786      1       147 2021-06-28 07:59:07.464000+08:00  2021-06-28
66497591      0         0 2021-06-26 05:33:43.023000+08:00  2021-06-26
43897603      0         0 2021-06-28 15:36:03.852000+08:00  2021-06-28
31382310      0         0 2021-06-29 09:31:16.109000+08:00  2021-06-29
...         ...       ...                              ...         ...
50139650      0         0 2021-06-27 07:38:06.655000+08:00  2021-06-27
68355061      0         0 2021-06-27 15:22:23.969000+08:00  2021-06-27
43910863      1       313 2021-06-26 09:41:16.147000+08:00  2021-06-26
15709228      0         0 2021-06-28 12:52:59.077000+08:00  2021-06-28
38881128      0         0 2021-06-28 15:10:47.820000+08:00  2021-06-28

[816711 rows x 10 columns]

In [5]:
print(df_test)

          id      userid      docid      timestamp  network  refresh  \
0          0  2204868548  464495940  1625011774995        2        4
1          1  1623790870  464553715  1625066054894        2        2
2          2  1637010070  464687570  1625053546711        2       10
3          3  1634251474  464661865  1625047014335        2       10
4          4  2352721164  464692079  1625035383911        2       11
...      ...         ...        ...            ...      ...      ...
49995  49995  1640585246  464553715  1625036568698        2        1
49996  49996  1987843480  464382231  1625009469794        2        1
49997  49997  2391080328  464617167  1625027566512        5        1
49998  49998   125699342  464172118  1625034692217        2       11
49999  49999  2154437014  464225813  1625008637470        2        3

                                    dt        date
0     2021-06-30 08:09:34.995000+08:00  2021-06-30
1     2021-06-30 23:14:14.894000+08:00  2021-06-30
2     2021-06-30 19:45:46.711000+08:00  2021-06-30
3     2021-06-30 17:56:54.335000+08:00  2021-06-30
4     2021-06-30 14:43:03.911000+08:00  2021-06-30
...                                ...         ...
49995 2021-06-30 15:02:48.698000+08:00  2021-06-30
49996 2021-06-30 07:31:09.794000+08:00  2021-06-30
49997 2021-06-30 12:32:46.512000+08:00  2021-06-30
49998 2021-06-30 14:31:32.217000+08:00  2021-06-30
49999 2021-06-30 07:17:17.470000+08:00  2021-06-30

[50000 rows x 8 columns]